<style>
    .homepage{
        margin-top: 160px;
    }
</style>

<div *ngIf="!loggedin" class="text-center homepage">
        <div class="row" *ngIf="!registerMode">
            <div class="col-md-4 applicationtitle">         
            </div>
    
            <div class="col-md-4">
                <form class="form-signin" #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
                    <h2 class="text-center text-primary">Sign In</h2>
                    <hr>               
                    <input type="text" class="form-control mr-sm-2" name="username" [(ngModel)]="model.email" placeholder="Email" required>                          
                    <input type="password" class="form-control mr-sm-2" name="password" [(ngModel)]="model.password" placeholder="Password" required>
                    <br>
                    <button class="btn btn-success mr-2" type="submit">Sign In</button>
                    <button class="btn btn-success mr-2"    
                    type="button" (click)="registertoggle()">New User</button>
                    <button class="btn btn-success mr-2"    
                    type="button" (click)="addtoggle()">Add Email</button>        
                </form>
            </div>  

            <div class="col-md-4">
            </div>     
        </div>     
        
        <div *ngIf="registerMode">
            <div class="row justify-content-center">
                <div class="col-6">
                    <form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
                        <h2 class="text-center text-primary">Register</h2>
                        <hr>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" [(ngModel)]="model.email" placeholder="E-mail ID">
                        </div>
                        
                        <div class="form-group">          
                            <input type="text" class="form-control" name="username" [(ngModel)]="model.username" placeholder="User Name">
                        </div>
                        <div  class="form-group">
                            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" placeholder="Password" >
                        </div>
                        <div  class="form-group">
                            <input type="password" class="form-control" name="testpassword" [(ngModel)]="model.test" placeholder="Re-enter Password" >
                        </div>
                        
                        <div class="form-group text-center">
                            <button type="submit" class="btn1 btn btn-md btn-primary">Register</button>
                            <button class="btn1 btn btn-md btn-secondary" (click)="cancel()">Cancel</button>
                        </div>
                    </form>
                   
                </div>
            </div>
        </div>
        <div *ngIf="addmode">
            <h2>Add employee</h2>
            <hr>
            <form #registerForm="ngForm" (ngSubmit)="addemployee()" autocomplete="off" class="text-left">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" name="email" [(ngModel)]="model1.email" placeholder="E-mail ID">
                </div>
                
                <div class="form-group">       
                    <label for="firstname">First Name:</label> 
                    <input type="text" class="form-control" name="firstname" [(ngModel)]="model1.firstname" placeholder="First Name">
                </div>
                
                <div class="form-group">    
                    <label for="lastname">Last Name:</label>      
                    <input type="text" class="form-control" name="lastname" [(ngModel)]="model1.lastname" placeholder="Last Name">
                </div>
                <div class="form-group">      
                    <label for="dob">Date of Birth</label>    
                    <input type="date" class="form-control" name="dob" [(ngModel)]="model1.dob" placeholder="Date of birth">
                </div>
                <div class="form-group">  
                    <label for="position">Position</label>  
                    <select class="form-control" name="position" [(ngModel)]="model1.position" >
                        <option value="Manager">Manager</option>
                        <option value="Associate">Associate</option>
                        <option value="HR">HR</option>
                    </select>     
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn1 btn btn-md btn-success mr-3">Add</button>
                </div>
            </form>
        </div>
                   
</div> 